body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
  }

.box {
    background: white;
    border: 2px solid #ccc;
    border-radius: 10px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 320px;
    box-sizing: border-box;

  }

  /* Green Box */
.green-box {
    background-color: #00e676;
    color: black;
    
  }
  
  .green-box button {
    margin-top: 15px;
    background: white;
    color: black;
    padding: 10px 25px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 60px;
    font-weight: bold;
  }
  .green-box h1 {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  .green-box p {
    margin-bottom: 15px;
    margin-right: 30px;
    font-size: 10px;
    white-space: nowrap;
    
  
  }

  /* Profile Box */

  .profile-box p {
    color: #5f6368;
    margin-right: 25px;
    margin-bottom: 35px;
  }
  
  .profile-box img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  
  .User {
    display: flex;
    gap: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    
    
    
  }
  
  .profile-box a {
    margin-top: 10px;
    margin-left: -20px;
    margin-right: -20px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: #1a73e8;
    border-top: 2px solid #dadce0;
    display: block;
  }
  

 /* Google box */
  .google-photos-box {
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
  }
  
  .google-photos-box img {
    width: 100%;
    height: 250px;
    border-bottom: 1px solid #ccc;
    border: none;
    margin-bottom: 10px;
  }
  
  .google-photos-box .subtext {
    font-size: 12px;
    color: #6e7277;
    padding: 10px 20px 0 20px;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .google-photos-box .lock {
    margin-right: 5px;
  }
  
  .google-photos-box h3 {
    font-size: 18px;
    padding: 5px 20px;
    margin: 0;
  }
  
  .google-photos-box .description {
    font-size: 14px;
    padding: 0 20px 10px 20px;
    color: #747a7f;
  }
  
  .google-photos-box .details-button {
    margin: 10px 20px 20px 20px;
    padding: 10px 15px;
    font-size: 14px;
    color: #1a73e8;
    background-color: transparent;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    
  }

  /* Login Box */
.login-box h1 {
    font-family: 'Georgia', serif;
    font-style: oblique;
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
  }
  .login-box p{
    text-align: center;
    font-weight: bold;
    font-size: small;
  }
  
  .login-box input {
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    display: block;
    margin: 20px auto;
  }
  
  .login-box button {
   
    padding: 10px 25px;
    background: black;
    color: white;
    border: none;
    border-radius: 35px;
    margin-top: 10px;
    display: block;
    margin: 0 auto;
  }
  
  .login-box .small-text {
    font-size: 12px;
    margin-top: 20px;
   text-align: center;
  }

  .page-footer {
    margin-top: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: #666;
    font-size: 14px;
}
 